*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
    background-image: url("../imagens/teahub.io-freddy-vs-jason-wallpaper-1893766.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url("trioterror.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 200px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(12, 12, 12, 0.5);
    border-radius: 15px;
    background: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(233, 226, 226, 0.5);
    border-left: 1px solid rgba(233, 226, 226, 0.5);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}


.container .card .content h3{
    font-size: 1.8em;
    color: rgba(238, 236, 236, 0.5);
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(20, 19, 19);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px rgba(238, 236, 236, 0.5);
    color: red ;
}

button{
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    cursor: pointer;
    background: rgb(20, 19, 19);
    padding: 12px 30px;
    box-shadow: 0 5px rgba(238, 236, 236, 0.5);
    border-top: 1px solid rgba(233, 226, 226, 0.5);
    border-left: 1px solid rgba(233, 226, 226, 0.5);
    text-align: center;
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 530px;
    background-color: rgb(20, 19, 19);
    margin-left: -900% ;
  }